/*
Theme Name: Ramalho dias
Author: Guilherme Henrique
Author URI: https://stux.io/
*/
body    {
    overflow-x: hidden;
}

h1,h2,h3,h4,h5, div, p,.nav-item a{
    font-family: 'Varela Round', sans-serif !important;

}
#footer1-2{
    background-color: rgb(50, 50, 50); 
    padding-top: 1.75rem; 
    padding-bottom: 1.75rem;
}
.mbr-overlay{
    opacity: 0.5; 
    background-color: rgb(0, 0, 0);
}
.what-we-do{
    background-color: rgb(242, 242, 242); 
    padding-top: 120px; 
    padding-bottom: 120px;
        margin-top: 100vh;
}
#index-msg-box3-1{
    background-color: rgb(242, 242, 242); padding-top: 120px; padding-bottom: 120px;
}
section.video-yeld{
    text-align: center;

}
section.video-yeld iframe {
    width: 95%;
    height: 40em;
    /* padding: 2em; */
    box-shadow: 1px 1px 8px 0px #222;
    text-align: center;
    margin: 0 auto;
    margin: 2em 0;
    background: #eee;

}
.valiant.Valiant360_default {
    height: 40em;
    width: 93%;
    position: relative;
    left: 0;
    text-align: center;
    ma: 0 a;
    margin: 2em auto;
    padding: 1em 0;
}


.slider-holder{
        /* background: red; */
        min-height: 100vh;
        position: relative;
}
#progress-slider{
    height: 2px !important;
    background-color: rgba(40, 40, 40, 0.33) !important;
}
.site-load{
        background: #2F2F2F;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding-top: 18em;
}
.cover {
    pos: pos;
    position: absolute;
    top: 0;
    wi: 100%;
    width: 100%;
    height: 100%;
    background: rgba(103, 58, 183, 0.43);
}
.heading {
    position: fixed;
    top: 0;
    width: 100%
}