.remove {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.47);
	padding: .5em;
	width: 100%;
	color: #fff;
	cursor: pointer;
	display: none;
}		
.images-featured {
	/* background: red; */
	display: block;
}
.image-row {
	display: inline-block;
	margin: 5px 2px;
	vertical-align: middle;
	line-height: normal;
	border: 2px solid #9E9E9E;
	overflow: hidden;
	height: 120px;
	width: 120px;
	position: relative;
}
.image-row img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	object-fit: contain;
}
.plus {
	text-align: center;
	display: block;
	font-size: 5em;
	vertical-align: middle;
	position: absolute;
	margin: 0 auto;
	width: 100%;
	color: #0073AA;
}

.image-row p {
	color: #848282;
	text-align: center;
	top: 5em;
	position: relative;
}
.image-row:hover .remove{
	display: block;
}
.image-row:hover p{
	color: #0073AA;
}
.image-row:hover{
	border-color: #0073AA;
	cursor: pointer;
}
#edit-slug-box{
	display: none;
}