/*!
 * Default theme v2 (https://mobirise.com/)
 * Copyright 2016 Mobirise
 */
.container {
  position: relative; }

.btn {
  margin-bottom: 0.5rem; }
  .btn + .btn {
    margin-left: 1rem; }
  @media (max-width: 767px) {
    .btn {
      white-space: normal; }
      .btn + .btn {
        margin-left: 0; } }

.bg-primary {
  background-color: #c0a375 !important; }

.bg-success {
  background-color: #90a878 !important; }

.bg-info {
  background-color: #7e9b9f !important; }

.bg-warning {
  background-color: #f3c649 !important; }

.bg-danger {
  background-color: #f28281 !important; }

.bg-none {
  background: none !important; }

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 0.75rem 2.1875rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.btn-sm {
  padding: 0.625rem 2.1874rem;
  font-size: 0.9687rem;
  line-height: 1.5;
  border-radius: 3px;
  font-family: "Lora";
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0px; }

.btn-lg {
  padding: 0.75rem 2.1874rem;
  font-size: 0.9687rem;
  line-height: 1.33333;
  border-radius: 3px; }

.btn-xlg {
  padding: 0.75rem 2.1874rem;
  font-size: 1.1875rem;
  line-height: 1.33333;
  border-radius: 3px; }

.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  box-shadow: none;
  color: #fff; }
  .btn-primary:hover {
    color: #fff;
    background-color: #a07e49;
    border-color: #a07e49;
    box-shadow: none; }
  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #a07e49;
    border-color: #a07e49; }
  .btn-primary:active, .btn-primary.active {
    color: #fff;
    background-color: #a07e49;
    border-color: #a07e49;
    background-image: none;
    box-shadow: none; }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff !important;
    background-color: #a07e49 !important;
    border-color: #a07e49 !important;
    opacity: 0.85; }

.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  box-shadow: none;
  color: #fff; }
  .btn-secondary:hover {
    color: #fff;
    background-color: #94ada8;
    border-color: #94ada8;
    box-shadow: none; }
  .btn-secondary:focus, .btn-secondary.focus {
    color: #fff;
    background-color: #94ada8;
    border-color: #94ada8; }
  .btn-secondary:active, .btn-secondary.active {
    color: #fff;
    background-color: #94ada8;
    border-color: #94ada8;
    background-image: none;
    box-shadow: none; }
  .btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff !important;
    background-color: #94ada8 !important;
    border-color: #94ada8 !important;
    opacity: 0.85; }

.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  box-shadow: none;
  color: #fff; }
  .btn-info:hover {
    color: #fff;
    background-color: #597478;
    border-color: #597478;
    box-shadow: none; }
  .btn-info:focus, .btn-info.focus {
    color: #fff;
    background-color: #597478;
    border-color: #597478; }
  .btn-info:active, .btn-info.active {
    color: #fff;
    background-color: #597478;
    border-color: #597478;
    background-image: none;
    box-shadow: none; }
  .btn-info.disabled, .btn-info:disabled {
    color: #fff !important;
    background-color: #597478 !important;
    border-color: #597478 !important;
    opacity: 0.85; }

.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  box-shadow: none;
  color: #fff; }
  .btn-success:hover {
    color: #fff;
    background-color: #6a8153;
    border-color: #6a8153;
    box-shadow: none; }
  .btn-success:focus, .btn-success.focus {
    color: #fff;
    background-color: #6a8153;
    border-color: #6a8153; }
  .btn-success:active, .btn-success.active {
    color: #fff;
    background-color: #6a8153;
    border-color: #6a8153;
    background-image: none;
    box-shadow: none; }
  .btn-success.disabled, .btn-success:disabled {
    color: #fff !important;
    background-color: #6a8153 !important;
    border-color: #6a8153 !important;
    opacity: 0.85; }

.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  box-shadow: none;
  color: #fff; }
  .btn-warning:hover {
    color: #fff;
    background-color: #e1a90f;
    border-color: #e1a90f;
    box-shadow: none; }
  .btn-warning:focus, .btn-warning.focus {
    color: #fff;
    background-color: #e1a90f;
    border-color: #e1a90f; }
  .btn-warning:active, .btn-warning.active {
    color: #fff;
    background-color: #e1a90f;
    border-color: #e1a90f;
    background-image: none;
    box-shadow: none; }
  .btn-warning.disabled, .btn-warning:disabled {
    color: #fff !important;
    background-color: #e1a90f !important;
    border-color: #e1a90f !important;
    opacity: 0.85; }

.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  box-shadow: none;
  color: #fff; }
  .btn-danger:hover {
    color: #fff;
    background-color: #eb3d3c;
    border-color: #eb3d3c;
    box-shadow: none; }
  .btn-danger:focus, .btn-danger.focus {
    color: #fff;
    background-color: #eb3d3c;
    border-color: #eb3d3c; }
  .btn-danger:active, .btn-danger.active {
    color: #fff;
    background-color: #eb3d3c;
    border-color: #eb3d3c;
    background-image: none;
    box-shadow: none; }
  .btn-danger.disabled, .btn-danger:disabled {
    color: #fff !important;
    background-color: #eb3d3c !important;
    border-color: #eb3d3c !important;
    opacity: 0.85; }

.btn-white {
  background-color: #fff;
  border-color: #fff;
  box-shadow: none;
  color: #535353; }
  .btn-white:hover {
    color: #fff;
    background-color: #d4d4d4;
    border-color: #d4d4d4;
    box-shadow: none; }
  .btn-white:focus, .btn-white.focus {
    color: #fff;
    background-color: #d4d4d4;
    border-color: #d4d4d4; }
  .btn-white:active, .btn-white.active {
    color: #fff;
    background-color: #d4d4d4;
    border-color: #d4d4d4;
    background-image: none;
    box-shadow: none; }
  .btn-white.disabled, .btn-white:disabled {
    color: #fff !important;
    background-color: #d4d4d4 !important;
    border-color: #d4d4d4 !important;
    opacity: 0.85; }

.btn-black {
  background-color: #535353;
  border-color: #535353;
  box-shadow: none;
  color: #fff; }
  .btn-black:hover {
    color: #fff;
    background-color: #2d2d2d;
    border-color: #2d2d2d;
    box-shadow: none; }
  .btn-black:focus, .btn-black.focus {
    color: #fff;
    background-color: #2d2d2d;
    border-color: #2d2d2d; }
  .btn-black:active, .btn-black.active {
    color: #fff;
    background-color: #2d2d2d;
    border-color: #2d2d2d;
    background-image: none;
    box-shadow: none; }
  .btn-black.disabled, .btn-black:disabled {
    color: #fff !important;
    background-color: #2d2d2d !important;
    border-color: #2d2d2d !important;
    opacity: 0.85; }

.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041; }
  .btn-primary-outline:focus, .btn-primary-outline.focus, .btn-primary-outline:active, .btn-primary-outline.active {
    color: #fff;
    background-color: #c0a375;
    border-color: #c0a375; }
  .btn-primary-outline:hover {
    color: #fff;
    background-color: #c0a375;
    border-color: #c0a375; }
  .btn-primary-outline.disabled, .btn-primary-outline:disabled {
    color: #fff !important;
    background-color: #c0a375 !important;
    border-color: #c0a375 !important;
    opacity: 0.85; }

.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c; }
  .btn-secondary-outline:focus, .btn-secondary-outline.focus, .btn-secondary-outline:active, .btn-secondary-outline.active {
    color: #fff;
    background-color: #bfcecb;
    border-color: #bfcecb; }
  .btn-secondary-outline:hover {
    color: #fff;
    background-color: #bfcecb;
    border-color: #bfcecb; }
  .btn-secondary-outline.disabled, .btn-secondary-outline:disabled {
    color: #fff !important;
    background-color: #bfcecb !important;
    border-color: #bfcecb !important;
    opacity: 0.85; }

.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669; }
  .btn-info-outline:focus, .btn-info-outline.focus, .btn-info-outline:active, .btn-info-outline.active {
    color: #fff;
    background-color: #7e9b9f;
    border-color: #7e9b9f; }
  .btn-info-outline:hover {
    color: #fff;
    background-color: #7e9b9f;
    border-color: #7e9b9f; }
  .btn-info-outline.disabled, .btn-info-outline:disabled {
    color: #fff !important;
    background-color: #7e9b9f !important;
    border-color: #7e9b9f !important;
    opacity: 0.85; }

.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149; }
  .btn-success-outline:focus, .btn-success-outline.focus, .btn-success-outline:active, .btn-success-outline.active {
    color: #fff;
    background-color: #90a878;
    border-color: #90a878; }
  .btn-success-outline:hover {
    color: #fff;
    background-color: #90a878;
    border-color: #90a878; }
  .btn-success-outline.disabled, .btn-success-outline:disabled {
    color: #fff !important;
    background-color: #90a878 !important;
    border-color: #90a878 !important;
    opacity: 0.85; }

.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d; }
  .btn-warning-outline:focus, .btn-warning-outline.focus, .btn-warning-outline:active, .btn-warning-outline.active {
    color: #fff;
    background-color: #f3c649;
    border-color: #f3c649; }
  .btn-warning-outline:hover {
    color: #fff;
    background-color: #f3c649;
    border-color: #f3c649; }
  .btn-warning-outline.disabled, .btn-warning-outline:disabled {
    color: #fff !important;
    background-color: #f3c649 !important;
    border-color: #f3c649 !important;
    opacity: 0.85; }

.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625; }
  .btn-danger-outline:focus, .btn-danger-outline.focus, .btn-danger-outline:active, .btn-danger-outline.active {
    color: #fff;
    background-color: #f28281;
    border-color: #f28281; }
  .btn-danger-outline:hover {
    color: #fff;
    background-color: #f28281;
    border-color: #f28281; }
  .btn-danger-outline.disabled, .btn-danger-outline:disabled {
    color: #fff !important;
    background-color: #f28281 !important;
    border-color: #f28281 !important;
    opacity: 0.85; }

.btn-white-outline {
  background: none;
  border-color: #fff;
  color: #fff; }
  .btn-white-outline:focus, .btn-white-outline.focus, .btn-white-outline:active, .btn-white-outline.active {
    color: #535353;
    background-color: #fff;
    border-color: #fff; }
  .btn-white-outline:hover {
    color: #535353;
    background-color: #fff;
    border-color: #fff; }
  .btn-white-outline.disabled, .btn-white-outline:disabled {
    color: #535353 !important;
    background-color: #fff !important;
    border-color: #fff !important;
    opacity: 0.85; }

.btn-black-outline {
  background: none;
  border-color: #202020;
  color: #202020; }
  .btn-black-outline:focus, .btn-black-outline.focus, .btn-black-outline:active, .btn-black-outline.active {
    color: #fff;
    background-color: #535353;
    border-color: #535353; }
  .btn-black-outline:hover {
    color: #fff;
    background-color: #535353;
    border-color: #535353; }
  .btn-black-outline.disabled, .btn-black-outline:disabled {
    color: #fff !important;
    background-color: #535353 !important;
    border-color: #535353 !important;
    opacity: 0.85; }

a.mbr-iconfont:hover {
  text-decoration: none; }

.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  color: #232323; }
  .btn-social i {
    top: 0;
    line-height: 44px;
    width: 44px; }
  .btn-social:hover {
    color: #fff;
    background: #c0a375; }
  .btn-social + .btn {
    margin-left: 0.1rem; }

p.lead,
.lead p {
  font-size: 1.07rem;
  font-weight: 300;
  margin-bottom: 2.3125rem; }

.article .lead p, .article .lead ul, .article .lead ol, .article .lead pre, .article .lead blockquote {
  margin-bottom: 0; }

.lead {
  font-size: 1.07rem;
  font-weight: 300; }
  .lead a {
    font-family: "Lora";
    font-style: italic;
    font-weight: 400; }
    .lead a, .lead a:hover {
      color: #c0a375;
      text-decoration: none; }
  .lead h1 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 1.605rem; }
  .lead h2 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 1.605rem; }
  .lead h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.605rem; }
  .lead h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.605rem; }
  .lead blockquote {
    font-family: "Lora";
    font-style: italic;
    padding: 10px 0 10px 20px;
    border-left: 4px solid #c39f76;
    font-size: 1.09rem;
    position: relative; }
  .lead ul, .lead ol, .lead pre, .lead blockquote {
    margin-bottom: 2.3125rem; }
  .lead pre {
    background: #f4f4f4;
    padding: 10px 24px;
    white-space: pre-wrap; }

.display-1 {
  font-size: 4.39rem;
  font-weight: 600;
  letter-spacing: -2px;
  margin-bottom: 0.2843em;
  margin-top: 3.9rem; }

.display-2 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 1.5625rem;
  margin-top: 3.5rem; }

.display-3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 3.2rem;
  margin-bottom: 2rem; }

.display-4 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2.3rem;
  margin-bottom: 1.8rem; }

.modal-backdrop {
  background: -webkit-linear-gradient(left, #564740, #3a414a);
  background: -moz-linear-gradient(left, #564740, #3a414a);
  background: -o-linear-gradient(left, #564740, #3a414a);
  background: -ms-linear-gradient(left, #564740, #3a414a);
  background: linear-gradient(left, #564740, #3a414a);
  opacity: 0.94; }

.form-control {
  background-color: #f5f5f5;
  border-radius: 3px;
  box-shadow: none;
  color: #565656;
  font-size: 0.875rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 0.5em 1.07em 0.5em; }
  .form-control, .form-control:focus {
    border: 1px solid #e8e8e8; }
  .form-active .form-control:invalid {
    border-color: #f28281; }

.form-control-label {
  cursor: pointer;
  font-size: 0.875rem;
  margin-bottom: 0.357em;
  padding: 0; }

.alert {
  border-radius: 0;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative; }
  .alert.alert-form:after {
    background-color: inherit;
    bottom: -7px;
    content: "";
    display: block;
    height: 14px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    transform: rotate(45deg);
    width: 14px; }

.alert-success {
  background-color: #90a878;
  color: #fff; }

.alert-info {
  background-color: #7e9b9f;
  color: #fff; }

.alert-warning {
  background-color: #f3c649;
  color: #fff; }

.alert-danger {
  background-color: #f28281;
  color: #fff; }

/**
 * TYPOGRAPHY
 */
body {
  font-family: 'Raleway', sans-serif;
  color: #232323; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3, .display-4 {
  font-family: 'Montserrat', sans-serif;
  word-break: break-word;
  word-wrap: break-word; }

input, textarea {
  font-family: "Raleway"; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition-delay: 9999s;
  transition-property: background-color, color; }

.text-primary {
  color: #c0a375 !important; }

.text-success {
  color: #90a878 !important; }

.text-info {
  color: #7e9b9f !important; }

.text-warning {
  color: #f3c649 !important; }

.text-danger {
  color: #f28281 !important; }

.text-white {
  color: #fff !important; }

.text-black {
  color: #535353 !important; }

.mbr-section {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.mbr-section-full {
  display: table;
  height: 100vh;
  padding-bottom: 0;
  padding-top: 0;
  table-layout: fixed;
  width: 100%; }
  .mbr-section-full > .mbr-table-cell {
    width: 100%; }

.mbr-section-small {
  padding-top: 60px;
  padding-bottom: 60px; }

.mbr-section-title {
  margin-top: 0; }

.mbr-section__container--first {
  padding-top: 120px;
  padding-bottom: 40px; }

.mbr-section__container--middle {
  padding-top: 0;
  padding-bottom: 40px; }

.mbr-section__container--last {
  padding-top: 0;
  padding-bottom: 120px; }

.mbr-section-sm-padding {
  padding-top: 40px;
  padding-bottom: 40px; }

.mbr-section-md-padding {
  padding-top: 90px;
  padding-bottom: 90px; }

.mbr-section-nopadding {
  padding-top: 0;
  padding-bottom: 0; }

.mbr-section-subtitle {
  display: block;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  font-family: "Lora";
  line-height: 26px;
  color: #8c8c8c;
  margin-bottom: 30px; }

.mbr-section-title + .mbr-section-subtitle {
  margin-top: -21px; }

.mbr-section-hero::before {
  display: none !important; }
.mbr-section-hero .mbr-section-title {
  color: #fff;
  margin-bottom: 1.6875rem; }
.mbr-section-hero .mbr-section-lead {
  color: #fff;
  font-family: Lora;
  font-size: 1.5rem;
  font-style: italic;
  margin-top: -1em; }
.mbr-section-hero .mbr-section-text {
  color: #fff; }

@media (max-width: 767px) {
  .mbr-section {
    padding-top: 60px;
    padding-bottom: 60px; }

  .mbr-section-full {
    padding-bottom: 0;
    padding-top: 0; }

  .mbr-section__container--first {
    padding-top: 60px;
    padding-bottom: 40px; }

  .mbr-section__container--middle {
    padding-top: 0;
    padding-bottom: 40px; }

  .mbr-section__container--last {
    padding-top: 0;
    padding-bottom: 60px; }

  .mbr-section-sm-padding {
    padding-top: 40px;
    padding-bottom: 40px; }

  .mbr-section-md-padding {
    padding-top: 60px;
    padding-bottom: 60px; }

  .mbr-section-nopadding {
    padding-top: 0;
    padding-bottom: 0; }

  .mbr-section-subtitle {
    margin-bottom: 0; }

  .mbr-section-hero.mbr-after-navbar .mbr-section {
    padding-top: 120px; }
  .mbr-section-hero.mbr-section-with-arrow .mbr-section {
    padding-bottom: 120px; }
  .mbr-section-hero .mbr-section-title {
    font-size: 3.125rem !important; }
  .mbr-section-hero .mbr-section-lead {
    font-size: 1.125rem !important; }
  .mbr-section-hero .mbr-section-btn .btn {
    font-size: 0.75rem !important;
    line-height: 1.5;
    padding: 0.75rem 2.1875rem; } }
.mbr-section-full .mbr-overlay {
  min-height: 100vh; }

.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; }
  .mbr-overlay ~ * {
    z-index: 2; }

.mbr-section-full .mbr-background-video,
.mbr-section-full .mbr-background-video-preview {
  min-height: 100vh; }

.mbr-background-video,
.mbr-background-video-preview {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.mbr-background-video-preview {
  z-index: 0 !important; }

.mbr-table {
  display: table;
  width: 100%; }

.mbr-table-full {
  height: 100%;
  position: relative;
  width: 100%; }

.mbr-table-cell {
  display: table-cell;
  float: none;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  vertical-align: middle; }

.mbr-table-md-up {
  width: 100%; }
  .mbr-table-md-up .mbr-table-cell {
    display: block; }
  .mbr-table-md-up .mbr-table-cell + .mbr-table-cell {
    padding-top: 40px; }
  @media (min-width: 768px) {
    .mbr-table-md-up {
      display: table; }
      .mbr-table-md-up .mbr-table-cell {
        display: table-cell; }
      .mbr-table-md-up .mbr-table-cell + .mbr-table-cell {
        padding-top: 0; } }

.mbr-figure {
  display: block;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%; }
  .mbr-figure img, .mbr-figure iframe {
    display: block;
    width: 100%; }
  .mbr-figure .mbr-figure-caption {
    background: #2e2e2e;
    color: #fff;
    font-family: Montserrat;
    padding: 1.5rem 0;
    text-align: center;
    width: 100%; }
  .mbr-figure .mbr-figure-caption-over {
    background: -moz-linear-gradient(left, rgba(67, 76, 99, 0.85), rgba(188, 155, 114, 0.85)) !important;
    background: -ms-linear-gradient(left, rgba(67, 76, 99, 0.85), rgba(188, 155, 114, 0.85)) !important;
    background: -o-linear-gradient(left, rgba(67, 76, 99, 0.85), rgba(188, 155, 114, 0.85)) !important;
    background: -webkit-linear-gradient(left, rgba(67, 76, 99, 0.85), rgba(188, 155, 114, 0.85)) !important;
    background: linear-gradient(left, rgba(67, 76, 99, 0.85), rgba(188, 155, 114, 0.85)) !important;
    bottom: 0;
    position: absolute; }

.mbr-map {
  height: 25rem;
  position: relative; }
  .mbr-map iframe {
    height: 100%;
    width: 100%; }
  .mbr-map [data-state-details] {
    color: #6b6763;
    font-family: Montserrat;
    height: 1.5em;
    margin-top: -0.75em;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%; }
  .mbr-map[data-state] {
    background: #e9e5dc; }
  .mbr-map[data-state="loading"] [data-state-details] {
    display: none; }
  .mbr-map[data-state="loading"]::after {
    content: "";
    -webkit-animation: btnCircleLoading .6s infinite linear;
    animation: btnCircleLoading .6s infinite linear;
    border-radius: 50%;
    border: 6px rgba(255, 255, 255, 0.35) solid;
    border-top-color: #fff;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 40px; }

/*-------

   Gallery

-------*/
.single-photo .mbr-gallery .mbr-gallery-item {
  position: relative;
  display: block;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  }
  .mbr-gallery .mbr-gallery-item {
  position: relative;
  display: inline-block;
  width: 25%; }
  @media (max-width: 768px) {
    .mbr-gallery .mbr-gallery-item {
      width: 50%; } }
  @media (max-width: 400px) {
    .mbr-gallery .mbr-gallery-item {
      width: 100%; } }

.mbr-gallery .mbr-gallery-item img {
  width: 100%;
  opacity: 1;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
  }

.mbr-gallery .mbr-gallery-item > a:hover img {
  opacity: 1; }

.mbr-gallery .mbr-gallery-item > a {
  background: #fff;
  display: block;
  outline: none;
  position: relative; }
  .mbr-gallery .mbr-gallery-item > a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(left, #554346, #45505b) !important;
    background: -moz-linear-gradient(left, #554346, #45505b) !important;
    background: -o-linear-gradient(left, #554346, #45505b) !important;
    background: -ms-linear-gradient(left, #554346, #45505b) !important;
    background: linear-gradient(left, #554346, #45505b) !important;
    opacity: 0;
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out; }

.mbr-gallery .mbr-gallery-item .icon {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -webkit-transition: .2s opacity ease-in-out;
  color: #000;
  font-size: 30px;
  height: 69px;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: .2s opacity ease-in-out;
  width: 69px; }
  .mbr-gallery .mbr-gallery-item .icon::before, .mbr-gallery .mbr-gallery-item .icon::after {
    content: "";
    display: block;
    position: absolute;
    height: 69px;
    width: 1px;
    margin-left: 34.5px;
    background-color: #fff; }
  .mbr-gallery .mbr-gallery-item .icon::after {
    width: 69px;
    height: 1px;
    margin-left: 0;
    margin-top: 34.5px; }

.mbr-gallery .mbr-gallery-item > a:hover .icon {
  opacity: 1; }

.mbr-gallery .mbr-gallery-item > a:hover::before {
  opacity: 0.9; }

.mbr-gallery-title {
  font-family: Montserrat;
  font-size: 0.9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  background: -webkit-linear-gradient(left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  background: -moz-linear-gradient(left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  background: -o-linear-gradient(left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  background: -ms-linear-gradient(left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  background: linear-gradient(left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  -webkit-transition: .2s background ease-in-out;
  transition: .2s background ease-in-out; }

.mbr-gallery .mbr-gallery-item > a:hover .mbr-gallery-title {
  background: transparent !important; }

/* remove spacing */
.mbr-gallery .mbr-gallery-row.no-gutter {
  margin: 0; }

.mbr-gallery .mbr-gallery-row.no-gutter .mbr-gallery-item {
  padding: 0; }

/* container */
.mbr-gallery .container.mbr-gallery-layout-default {
  padding: 93px 0; }

/* fix horizontal scrollbar */
.mbr-gallery .mbr-gallery-layout-default,
.mbr-gallery .mbr-gallery-layout-article {
  overflow: hidden; }

/* lightbox */
.mbr-gallery .modal {
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important; }

.mbr-gallery .modal-content {
  border-radius: 0; }

.mbr-gallery .modal-body {
  padding: 0; }

.mbr-gallery .modal-body img {
  width: 100%;
  object-fit: contain;
  }

.mbr-gallery .modal .close {
  position: fixed;
  background: #1b1b1b;
  opacity: 0.5;
  font-size: 55px;
  font-weight: 300;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  line-height: 61px;
  border: 0;
  text-align: center;
  text-shadow: none;
  z-index: 5;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease; }

.mbr-gallery .modal .close:hover {
  opacity: 1;
  background: #000;
  color: #fff; }

.mbr-gallery .modal.in .modal-dialog {
  margin: 0 auto; }

/* modal back color opacity */
.modal-backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=80); }

@media (max-width: 768px) {
  .mbr-gallery .carousel-indicators,
  .mbr-gallery .carousel-control,
  .mbr-gallery .modal .close {
    position: fixed; } }
/* fix fade in effect */
.mbr-gallery .modal.fade .modal-dialog {
  -webkit-transition: margin-top 0.3s ease-out;
  -moz-transition: margin-top 0.3s ease-out;
  -o-transition: margin-top 0.3s ease-out;
  transition: margin-top 0.3s ease-out; }

.mbr-gallery .modal.in .modal-dialog,
.mbr-gallery .modal.fade .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }

/*-------

   Slider

-------*/
.mbr-slider .carousel-inner > .active,
.mbr-slider .carousel-inner > .next,
.mbr-slider .carousel-inner > .prev {
  display: table; }

.mbr-slider .carousel-control {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  margin-top: -35px;
  line-height: 70px;
  border-radius: 50%;
  color: inherit;
  background: #1b1b1b;
  border: 0;
  opacity: 0.5;
  text-shadow: none;
  z-index: 5;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.mbr-gallery .mbr-slider .carousel-control {
  position: fixed; }
  @media (max-width: 991px) {
    .mbr-gallery .mbr-slider .carousel-control {
      bottom: 2.5rem;
      margin-top: 0;
      top: auto;
      z-index: 17; } }

.mbr-gallery .mbr-slider .carousel-inner > .active {
  display: block; }

.mbr-slider .carousel-control.left {
  left: 0;
  margin-left: 2.5rem; }

.mbr-slider .carousel-control.right {
  right: 0;
  margin-right: 2.5rem; }

.mbr-slider .carousel-control .icon-next,
.mbr-slider .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px; }

.mbr-slider .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1; }

.mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important; }
  @media (max-width: 543px) {
    .mbr-slider .carousel-indicators {
      display: none; } }

.mbr-gallery .mbr-slider .carousel-indicators {
  position: fixed;
  margin-bottom: 2.5rem !important; }
  @media (max-width: 991px) {
    .mbr-gallery .mbr-slider .carousel-indicators {
      margin-bottom: 3.625rem !important;
      padding-left: 2.5rem;
      padding-right: 2.5rem; } }

.mbr-slider .carousel-indicators li,
.mbr-slider .carousel-indicators .active {
  width: 15px;
  height: 15px;
  margin: 3px;
  background: #1b1b1b;
  border: 0;
  opacity: 0.5; }

.mbr-slider .carousel-indicators .active {
  border: 4px solid #1b1b1b;
  background: #fff; }

@media (max-width: 767px) {
  .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px; }

  .mbr-slider > .container .carousel-control {
    margin-bottom: 0px; } }
/* boxed slider */
.mbr-slider > .boxed-slider {
  position: relative;
  padding: 93px 0; }

.mbr-slider > .boxed-slider > div {
  position: relative; }

.mbr-slider > .container img {
  width: 100%; }

.mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2; }

.mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll; }

.mbr-slider .mbr-table-cell {
  padding: 0; }

.mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px; }

/* article slider */
.mbr-slider > .article-slider .mbr-section,
.mbr-slider > .article-slider .mbr-section .mbr-table-cell {
  padding-top: 0;
  padding-bottom: 0; }

/*-------

   Cards

-------*/
.mbr-cards-row {
  position: relative;
  margin-left: 0 !important;
  margin-right: 0 !important; }
.mbr-cards-col {
  padding-left: 0;
  padding-right: 0;
  padding-top: 120px;
  padding-bottom: 120px; }
  @media (max-width: 767px) {
    .mbr-cards-col {
      padding-top: 60px;
      padding-bottom: 60px; } }
.mbr-cards .striped .card {
  padding-left: 10%;
  padding-right: 10%; }
.mbr-cards .striped .mbr-cards-col:nth-child(2n+1) {
  background: #2e2e2e;
  color: #fff; }
  .mbr-cards .striped .mbr-cards-col:nth-child(2n+1) .card-subtitle {
    color: #979797; }
.mbr-cards .card {
  text-align: center;
  border: 0;
  background: none;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0; }
  @media (max-width: 991px) {
    .mbr-cards .card {
      padding-left: 0;
      padding-right: 0; } }
@media (min-width: 992px) {
  .mbr-cards-row {
    display: table;
    table-layout: fixed;
    width: 100%; }
    .mbr-cards-row::after {
      display: none; }
  .mbr-cards-col {
    display: table-cell;
    float: none; }
  .mbr-cards > .container {
    margin: 0;
    max-width: none;
    padding: 0;
    width: 100%; } }
.mbr-cards .card-block {
  background: none;
  padding: 0; }
.mbr-cards .card-img-top {
  border-radius: 0;
  width: auto;
  max-width: 100%; }
.mbr-cards .card-img + .card-block {
  padding-top: 2.3125rem; }
.mbr-cards .card-text {
  margin: 0; }
  .mbr-cards .card-text + .card-btn {
    padding-top: 1.375rem; }
.mbr-cards .card-title {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1.2825; }
  .mbr-cards .card-title + * {
    padding-top: 1rem; }
  .mbr-cards .card-title + .card-btn {
    padding-top: 1.4375rem; }
.mbr-cards .card-subtitle {
  margin-bottom: 0;
  font-style: italic;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: "Lora";
  color: #5b5b5b;
  margin-top: -1rem;
  line-height: 1.7857;
  padding-bottom: 1rem; }
  .mbr-cards .card-subtitle + .card-btn {
    padding-top: 0.3125rem; }
.mbr-cards .iconbox {
  border-style: solid;
  border-color: #f2f2f2;
  border-width: 1px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 500px;
  display: inline-block; }
  .mbr-cards .iconbox > .mbr-iconfont {
    line-height: inherit; }

/*-------

   Price Table

-------*/
@media (min-width: 1600px) {
  .mbr-price-table {
    padding-left: 12%;
    padding-right: 12%; } }
.mbr-price-table .row {
  margin-left: 0;
  margin-right: 0; }
  .mbr-price-table .row > div {
    padding-left: 0.625rem;
    padding-right: 0.625rem; }
    @media (max-width: 1199px) {
      .mbr-price-table .row > div {
        padding-bottom: 40px; } }

/*-------

   Price Table / Plan

-------*/
.mbr-plan {
  background: none;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  margin-bottom: 0;
  padding: 0.625rem; }
  .mbr-plan .list-group-item {
    background: none;
    border-bottom: 0;
    border-top: 1px dotted rgba(255, 255, 255, 0.2);
    font-size: 0.875rem;
    line-height: 3.125rem;
    padding-bottom: 0;
    padding-top: 0; }
  .mbr-plan .card-title {
    margin-bottom: 1.5625rem; }
  .mbr-plan-title {
    font-family: "Montserrat";
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 1.28;
    margin-bottom: 0; }
  .mbr-plan-subtitle, .mbr-plan-price-desc {
    color: #a0a0a0;
    font-family: "Lora";
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.79; }
  .mbr-plan-price-desc {
    display: block;
    padding-top: 1.25rem; }
  .mbr-plan-header, .mbr-plan-body {
    background: rgba(255, 255, 255, 0.1); }
  .mbr-plan-header {
    padding-bottom: 3.4375rem;
    padding-top: 2.1875rem;
    position: relative; }
    .mbr-plan-header.bg-primary .mbr-plan-subtitle,
    .mbr-plan-header.bg-primary .mbr-plan-price-desc {
      color: #e8ddcd; }
    .mbr-plan-header.bg-success .mbr-plan-subtitle,
    .mbr-plan-header.bg-success .mbr-plan-price-desc {
      color: #d0dac6; }
    .mbr-plan-header.bg-info .mbr-plan-subtitle,
    .mbr-plan-header.bg-info .mbr-plan-price-desc {
      color: #c7d4d5; }
    .mbr-plan-header.bg-warning .mbr-plan-subtitle,
    .mbr-plan-header.bg-warning .mbr-plan-price-desc {
      color: #fbebc1; }
    .mbr-plan-header.bg-danger .mbr-plan-subtitle,
    .mbr-plan-header.bg-danger .mbr-plan-price-desc {
      color: #fef5f5; }
  .mbr-plan-label {
    background: #28262b;
    color: #fff;
    display: block;
    font-size: 0.6875rem;
    font-weight: 400;
    height: 3.125rem;
    line-height: 3.125rem;
    min-width: 3.125rem;
    padding: 0 0.75rem;
    position: absolute;
    right: 0;
    top: 0; }
  .mbr-plan-body {
    margin-top: 2px;
    padding-bottom: 0;
    padding-top: 2.5rem; }
  .mbr-plan-list {
    padding-bottom: 4.0625rem;
    padding-top: 1.5625rem; }
  .mbr-plan-btn {
    margin-top: -2.5rem;
    padding-bottom: 1.375rem;
    padding-top: 1.875rem; }

/*-------

   Price Table / Price

-------*/
.mbr-price {
  font-family: "Montserrat";
  line-height: 1.3; }
  .mbr-price-value {
    font-size: 1.875rem;
    line-height: 1;
    position: relative;
    top: -1.25rem; }
  .mbr-price-figure {
    font-size: 3.75rem;
    line-height: inherit;
    padding-left: 0.625rem; }
  .mbr-price-term {
    font-size: 1.875rem;
    position: relative; }

/*-------

   Testimonials

-------*/
.mbr-testimonials .row > div {
  padding-bottom: 40px; }
  .mbr-testimonials .row > div:last-child {
    padding-bottom: 0; }
@media (min-width: 992px) {
  .mbr-testimonials .row > div:nth-child(3n+1) {
    clear: left; }
  .mbr-testimonials .row > div:nth-last-child(-1n+3) {
    padding-bottom: 0; } }

/*-------

   Testimonials / Item

-------*/
.mbr-testimonial {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  text-align: center; }
  .mbr-testimonial + * {
    padding-top: 40px; }
  .mbr-testimonial.card {
    background-color: transparent; }
  .mbr-testimonial .card-block {
    background: #f4f4f4;
    color: #565656;
    font-family: "Lora";
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 400;
    line-height: 2;
    padding: 1.875rem;
    position: relative; }
    .mbr-testimonial .card-block:after {
      background-color: inherit;
      bottom: -7px;
      content: "";
      display: block;
      height: 14px;
      left: 50%;
      margin-left: -7px;
      position: absolute;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 14px; }
  .mbr-testimonial-lg .card-block {
    padding-bottom: 90px; }
  .mbr-testimonial .card-footer {
    background: none;
    border: 0;
    padding: 0;
    position: relative;
    z-index: 2; }
    .mbr-testimonial .card-footer:last-child {
      border-radius: 0; }

/*-------

   Testimonials / Author

-------*/
.mbr-author-img {
  margin-top: -2.5rem; }
  .mbr-author-img img {
    height: 5rem;
    width: 5rem; }
.mbr-author-name {
  color: #2d2d2d;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.3;
  padding-top: 1.25rem; }
.mbr-author-desc {
  color: #a7a7a7;
  font-family: "Lora";
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.597; }

/*-------

   Info

-------*/
.mbr-info-subtitle, .mbr-info-extra .mbr-info-title {
  margin-bottom: 0; }
.mbr-info-extra .mbr-info-subtitle {
  margin-bottom: 0.5rem; }

/*-------

   Subscribe

-------*/
.mbr-subscribe {
  background: #f5f5f5;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  height: 4rem;
  padding: 0;
  position: relative; }
  .mbr-subscribe .form-control {
    background: none;
    border: 0;
    position: relative;
    top: 0.4375rem; }
  .mbr-subscribe .input-group-btn {
    position: static; }
    .mbr-subscribe .input-group-btn::after {
      border-radius: 3px;
      border: 1px solid transparent;
      bottom: -1px;
      content: "";
      display: block;
      left: -1px;
      position: absolute;
      right: -1px;
      top: -1px; }
  .form-active .mbr-subscribe .form-control:invalid ~ .input-group-btn::after {
    border-color: #f28281; }
  .mbr-subscribe .btn {
    border-radius: 3px !important;
    margin-bottom: 0;
    margin-right: 0.5625rem; }
  .mbr-subscribe-dark {
    background: none;
    border-color: rgba(255, 255, 255, 0.2); }
    .mbr-subscribe-dark .form-control {
      color: #fff; }

/*-------

   Small footer

-------*/
.mbr-small-footer {
  background: #323232;
  color: #acacac;
  font-size: 0.8125rem;
  padding: 1.75rem 0; }
  .mbr-small-footer p {
    margin-bottom: 0; }

.mbr-small-footer a {
  color: #c0a375; }
  .mbr-small-footer a:hover {
    text-decoration: none; }

/*-------

   Footer

-------*/
.mbr-footer {
  color: #fff;
  padding-left: 1.25rem;
  padding-right: 1.25rem; }
  @media (min-width: 1280px) {
    .mbr-footer {
      padding-left: 6.25rem;
      padding-right: 6.25rem; } }
  .mbr-footer > .row, .mbr-footer > .container > .row {
    margin-left: 0;
    margin-right: 0; }
    .mbr-footer > .row > div, .mbr-footer > .container > .row > div {
      padding-bottom: 40px; }
      .mbr-footer > .row > div:last-child, .mbr-footer > .container > .row > div:last-child {
        padding-bottom: 0; }
  .mbr-footer > .container {
    padding-left: 0;
    padding-right: 0; }
  @media (min-width: 768px) {
    .mbr-footer > .row > div:nth-child(2n+1) {
      clear: left; }
    .mbr-footer > .row > div:nth-last-child(-1n+2) {
      padding-bottom: 0; }
    .mbr-footer > .container > .row > div {
      clear: none !important;
      padding-bottom: 0 !important; } }
  @media (min-width: 992px) {
    .mbr-footer > .row > div {
      clear: none !important;
      padding-bottom: 0 !important; } }
  .mbr-footer p a, .mbr-footer ul a {
    color: #c0a375; }
    .mbr-footer p a:hover, .mbr-footer ul a:hover {
      text-decoration: none; }
  .mbr-footer .btn-black {
    background-color: #242424;
    border-color: #242424; }
    .mbr-footer .btn-black.disabled, .mbr-footer .btn-black[disabled], .mbr-footer .btn-black:hover {
      background-color: #1a1a1a !important;
      border-color: #1a1a1a !important; }
  .mbr-footer .mbr-map {
    height: 18.75rem; }
  .mbr-footer form .form-control-label {
    font-size: 0.875rem;
    position: relative; }
  .mbr-footer form .form-control {
    background: none;
    border-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 0.875rem;
    min-height: 3.2em;
    padding: 0.5em 1em 0.5em; }

.mbr-footer-content h1, .mbr-footer-content h2, .mbr-footer-content h3, .mbr-footer-content h4,
.mbr-footer-content p strong, .mbr-footer-content strong, .mbr-footer .mbr-contacts h1, .mbr-footer .mbr-contacts h2, .mbr-footer .mbr-contacts h3, .mbr-footer .mbr-contacts h4,
.mbr-footer .mbr-contacts p strong, .mbr-footer .mbr-contacts strong {
  color: #7c7c7c;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.3;
  margin-bottom: 1.875em; }
.mbr-footer-content p strong, .mbr-footer-content strong, .mbr-footer .mbr-contacts p strong, .mbr-footer .mbr-contacts strong {
  display: inline-block; }
.mbr-footer-content p, .mbr-footer .mbr-contacts p {
  color: #fff;
  font-size: 0.875rem;
  margin-bottom: 0; }
.mbr-footer-content ul, .mbr-footer .mbr-contacts ul {
  line-height: 1.8;
  list-style: none;
  margin: 0;
  padding: 0; }
.mbr-footer-content li, .mbr-footer .mbr-contacts li {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  color: #bcbcbc;
  display: block;
  font-family: "Raleway";
  font-size: 0.875rem;
  line-height: 1.8;
  overflow: hidden;
  padding: 0.72em 0;
  padding-left: 1.8em;
  position: relative;
  width: 100%; }
  .mbr-footer-content li:last-child, .mbr-footer .mbr-contacts li:last-child {
    border-bottom: 0; }
  .mbr-footer-content li::before, .mbr-footer .mbr-contacts li::before {
    background: #c0a375;
    content: "";
    height: 0.36em;
    left: 0;
    margin-top: -0.18em;
    position: absolute;
    top: 50%;
    width: 0.36em; }
  .mbr-footer-content li a, .mbr-footer .mbr-contacts li a {
    color: #fff;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    transition: color .3s ease; }
    .mbr-footer-content li a:hover, .mbr-footer .mbr-contacts li a:hover {
      color: #c0a375; }

.footer1 ul {
  margin-top: -13px; }

.footer4 > .container > .row {
  margin-left: 0;
  margin-right: 0; }
  .footer4 > .container > .row > div > .row > div:first-child {
    padding-bottom: 40px; }
    .footer4 > .container > .row > div > .row > div:first-child:last-child {
      padding-bottom: 0; }
@media (min-width: 544px) {
  .footer4 > .container > .row > div, .footer4 > .container > .row > div > .row > div {
    clear: none !important;
    padding-bottom: 0 !important; } }

/*-------

   Company

-------*/
.mbr-company {
  background: none;
  border-radius: 0;
  border: 0;
  margin-bottom: 0; }
  .mbr-company .card-img-top {
    height: 58px;
    margin-bottom: 1.57rem;
    width: auto; }
  .mbr-company .card-block {
    background: none;
    padding: 0; }
  .mbr-company .card-text {
    color: #acacac;
    font-size: 0.875rem;
    margin-bottom: 1.57rem; }
  .mbr-company .list-group {
    display: block; }
  .mbr-company .list-group-item {
    background: none;
    border: 0;
    display: table;
    padding: 0;
    padding-bottom: 1.375rem;
    width: 100%; }
  .mbr-company .list-group-icon,
  .mbr-company .list-group-text {
    display: table-cell;
    height: 2.25rem;
    position: relative;
    vertical-align: middle; }
  .mbr-company .list-group-icon {
    padding-right: 1.25rem;
    text-align: center;
    width: 3.5rem; }
  .mbr-company .list-group-text {
    color: #fff;
    font-family: "Raleway";
    font-size: 0.875rem;
    line-height: 1.6;
    position: static;
    vertical-align: middle; }
    .mbr-company .list-group-text::after {
      border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
      bottom: 0.625rem;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      width: 50%; }
  .mbr-company .list-group-item.active, .mbr-company .list-group-item.active:hover {
    background: none; }
  .mbr-company .list-group-item.active .list-group-text {
    color: #c0a375; }
  .mbr-company .list-group-item:last-child {
    padding-bottom: 0; }
    .mbr-company .list-group-item:last-child .list-group-text::after {
      display: none; }

/*-------

   Arrow

-------*/
@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  65% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  to {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
@keyframes floating-arrow {
  from {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  65% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  to {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
@-webkit-keyframes floating-arrow-up {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  25% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  75% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
@keyframes floating-arrow-up {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  25% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  75% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
.mbr-arrow {
  bottom: 48px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%; }
  @media (max-width: 991px) {
    .mbr-arrow {
      bottom: 31px; } }
  @media (max-width: 320px) {
    .mbr-arrow {
      bottom: 21px; } }
  @media all and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .mbr-arrow {
      bottom: 31px; } }
  .mbr-arrow a {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    height: 46px;
    outline-style: none !important;
    position: relative;
    text-decoration: none;
    transition: all .3s ease-in-out;
    width: 46px; }
    .mbr-arrow a:hover {
      background: #2d2d2d; }
  .mbr-arrow-icon {
    display: block; }
    .mbr-arrow-icon::before {
      content: "\203a";
      display: inline-block;
      font-family: serif;
      font-size: 32px;
      line-height: 1;
      font-style: normal;
      left: 4px;
      position: relative;
      top: 6px;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
  .mbr-arrow-floating .mbr-arrow-icon {
    -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
    animation: floating-arrow 1.6s infinite ease-in-out 0s; }

.mbr-arrow-up {
  bottom: 25px;
  right: 90px;
  position: fixed;
  text-align: right;
  z-index: 5000; }
  @media (max-width: 991px) {
    .mbr-arrow-up {
      bottom: 31px; } }
  @media (max-width: 320px) {
    .mbr-arrow-up {
      bottom: 21px; } }
  @media all and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .mbr-arrow-up {
      bottom: 31px; } }
  .mbr-arrow-up a {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    height: 46px;
    outline-style: none !important;
    position: relative;
    text-decoration: none;
    transition: all .3s ease-in-out;
    width: 46px;
    cursor: pointer; }
    .mbr-arrow-up a:hover {
      background: #2d2d2d; }
  .mbr-arrow-up-icon {
    display: block; }
    .mbr-arrow-up-icon::before {
      content: "\203a";
      display: inline-block;
      font-family: serif;
      font-size: 32px;
      line-height: 1;
      font-style: normal;
      position: relative;
      top: 6px;
      left: -4px;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  .mbr-arrow-up:hover .mbr-arrow-up-icon {
    -webkit-animation: floating-arrow-up 1.6s ease-in-out infinite 0s;
    animation: floating-arrow-up 1.6s ease-in-out infinite 0s; }

@media (max-width: 768px) {
  .mbr-arrow-up {
    right: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    bottom: 15px; } }
@media (min-width: 768px) {
  .mbr-right-padding-md-up {
    padding-right: 60px; } }

@media (min-width: 768px) {
  .mbr-left-padding-md-up {
    padding-left: 60px; } }

.mbr-valign-top {
  vertical-align: top; }

.form-asterisk {
  font-family: initial;
  position: absolute;
  top: -2px;
  font-weight: normal; }

.row-sm-offset {
  margin-left: -0.625rem;
  margin-right: -0.625rem; }
  .row-sm-offset > * {
    padding-left: 0.625rem;
    padding-right: 0.625rem; }

@-webkit-keyframes btnCircleLoading {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }
@keyframes btnCircleLoading {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
.btn-loader {
  -webkit-animation: btnCircleLoading .6s infinite linear;
  animation: btnCircleLoading .6s infinite linear;
  border-radius: 50%;
  border: 4px rgba(255, 255, 255, 0.25) solid;
  border-top-color: white;
  display: none;
  height: 26px;
  left: 50%;
  margin-left: -13px;
  margin-top: -13px;
  position: absolute;
  top: 50%;
  width: 26px; }

.btn-loading {
  position: relative; }
  .btn-loading .btn-text {
    visibility: hidden; }
  .btn-loading .btn-loader {
    display: block; }

.hidden {
  visibility: hidden; }

.visible {
  visibility: visible; }

.hamburger-om:after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 8px;
  left: 0; }
.hamburger-om:before {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: -8px;
  left: 0; }

/*-------

   Iconfont

-------*/
/* iconfont default styling */
/* for buttons */
.mbr-iconfont.mbr-iconfont-btn,
.mbr-buttons__btn .mbr-iconfont {
  padding-right: 0.4em;
  font-size: 1.6em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.12em;
  text-decoration: none; }

/* menu links */
.mbr-iconfont.mbr-iconfont-btn-parent,
.link .mbr-iconfont {
  font-size: 1.4em;
  top: -0.3em;
  position: relative;
  vertical-align: middle; }

/*menu logo */
.mbr-iconfont.mbr-iconfont-menu,
.mbr-iconfont.mbr-iconfont-ext__menu {
  font-size: 37px;
  text-decoration: none;
  color: #fff; }

/* features2, features3 */
.mbr-iconfont.mbr-iconfont-features2,
.mbr-iconfont.mbr-iconfont-features3 {
  font-size: 119px;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-top: 0.2em;
  color: #F1C050; }

/* features4 */
.mbr-iconfont.mbr-iconfont-features4 {
  font-size: 50px;
  text-decoration: none;
  text-align: center;
  display: block;
  color: #000; }

.mbr-iconfont-features7 {
  font-size: 50px;
  text-decoration: none;
  text-align: center;
  display: block;
  color: #fff; }

/* msg-box4 */
.mbr-iconfont.mbr-iconfont-msg-box4,
.mbr-iconfont.mbr-iconfont-msg-box5 {
  font-size: 357px;
  text-decoration: none;
  color: #232323; }

/* header2 */
.mbr-iconfont.mbr-iconfont-header2 {
  font-size: 400px;
  text-decoration: none;
  color: #fff; }

/* contacts1 */
.mbr-iconfont.mbr-iconfont-contacts1 {
  font-size: 119px;
  text-decoration: none;
  color: #9C9C9C; }

/* contacts3 */
.mbr-iconfont.mbr-iconfont-logo-contacts3 {
  font-size: 58px;
  text-decoration: none;
  color: #9C9C9C;
  margin-bottom: 1.57rem; }

.mbr-iconfont-company-contacts3 {
  font-size: 22px;
  color: #cfcfcf; }

.mbr-iconfont-company-contacts5 {
  font-size: 22px;
  color: #000; }

html.is-builder .mbr-cards .card-img + .card-block {
  padding-top: 0; }
html.is-builder .mbr-cards .card-text + .card-btn {
  padding-top: 0; }
html.is-builder .mbr-cards .card-title + * {
  padding-top: 0; }
html.is-builder .mbr-cards .card-title + .card-btn {
  padding-top: 0; }
html.is-builder .mbr-cards .card-subtitle + .card-btn {
  padding-top: 0; }
html.is-builder :not([data-app-remove-it]).card-img + .card-block {
  padding-top: 2.3125rem; }
html.is-builder :not([data-app-remove-it]).card-title + .card-subtitle, html.is-builder :not([data-app-remove-it]).card-title ~ .card-text {
  padding-top: 1rem; }
html.is-builder :not([data-app-remove-it]).card-title ~ .card-btn {
  padding-top: 1.4375rem; }
html.is-builder :not([data-app-remove-it]).card-subtitle + .card-text {
  padding-top: 0; }
html.is-builder :not([data-app-remove-it]).card-subtitle ~ .card-btn {
  padding-top: 0.3125rem; }
html.is-builder :not([data-app-remove-it]).card-text + .card-btn {
  padding-top: 1.375rem; }
html.is-builder .article .lead p {
  margin-top: 0; }
html.is-builder .article div .btn {
  margin-top: 0; }
html.is-builder .article .mbr-section-title:not([data-app-remove-it]) + .lead p {
  margin-top: 1.5625rem; }
html.is-builder .article .mbr-section-title:not([data-app-remove-it]) ~ div .btn {
  margin-top: 2.3125rem; }
html.is-builder .article .lead:not([data-app-remove-it]) + div .btn {
  margin-top: 2.3125rem; }

.article .display-2 {
  margin-bottom: 0; }
.article .mbr-section-title + .mbr-section-subtitle {
  margin-top: 4px; }
.article .mbr-section-title + .lead p {
  margin-top: 1.5625rem; }
.article .mbr-section-title + div .btn {
  margin-top: 2.3125rem; }
.article .lead + div .btn {
  margin-top: 2.3125rem; }
.article .mbr-section-subtitle {
  margin-bottom: 0; }

.content-size {
  width: auto; }

.image-size {
  vertical-align: middle;
  margin: auto; }

@media (max-width: 768px) {
  .image-size {
    width: 100% !important; } }

/*# sourceMappingURL=style.css.map */
.engine {
  position: absolute;
  text-indent: -2400px;
  text-align: center;
  padding: 0;
}
.what-we-do{
  background-color: rgb(242, 242, 242); 
  padding-top: 120px; 
  padding-bottom: 120px;
}
.page-content{
  background-color: rgb(255, 255, 255); 
  padding-top: 20px; 
  padding-bottom: 20px;
}
 .modal-content {
    position: relative;
    background-color: rgba(0, 0, 0, 0.34);
    border-radius: .3rem;
    outline: 0;
}
.mbr-gallery .modal-body img {
    width: 100vw !important;
    margin: 0 auto !important;
    object-fit: contain !important;
    height: 100vh !important;
}
/*!
 * Valiant360 panorama video player jquery plugin
 *
 * Copyright (c) 2014 Charlie Hoey <@flimshaw>
 *
 * Released under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *//*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face{font-family:FontAwesome;src:url(fonts/fontawesome-webfont.eot?v=4.0.3);src:url(fonts/fontawesome-webfont.eot?#iefix&v=4.0.3) format('embedded-opentype'),url(fonts/fontawesome-webfont.woff?v=4.0.3) format('woff'),url(fonts/fontawesome-webfont.ttf?v=4.0.3) format('truetype'),url(fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular) format('svg');font-weight:400;font-style:normal}.fa{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.3333333333333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.2857142857142858em;text-align:center}.fa-ul{padding-left:0;margin-left:2.142857142857143em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.142857142857143em;width:2.142857142857143em;top:.14285714285714285em;text-align:center}.fa-li.fa-lg{left:-1.8571428571428572em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:spin 2s infinite linear;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;animation:spin 2s infinite linear}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);-webkit-transform:scale(-1,1);-moz-transform:scale(-1,1);-ms-transform:scale(-1,1);-o-transform:scale(-1,1);transform:scale(-1,1)}.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);-webkit-transform:scale(1,-1);-moz-transform:scale(1,-1);-ms-transform:scale(1,-1);-o-transform:scale(1,-1);transform:scale(1,-1)}.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:"\f000"}.fa-music:before{content:"\f001"}.fa-search:before{content:"\f002"}.fa-envelope-o:before{content:"\f003"}.fa-heart:before{content:"\f004"}.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.fa-user:before{content:"\f007"}.fa-film:before{content:"\f008"}.fa-th-large:before{content:"\f009"}.fa-th:before{content:"\f00a"}.fa-th-list:before{content:"\f00b"}.fa-check:before{content:"\f00c"}.fa-times:before{content:"\f00d"}.fa-search-plus:before{content:"\f00e"}.fa-search-minus:before{content:"\f010"}.fa-power-off:before{content:"\f011"}.fa-signal:before{content:"\f012"}.fa-gear:before,.fa-cog:before{content:"\f013"}.fa-trash-o:before{content:"\f014"}.fa-home:before{content:"\f015"}.fa-file-o:before{content:"\f016"}.fa-clock-o:before{content:"\f017"}.fa-road:before{content:"\f018"}.fa-download:before{content:"\f019"}.fa-arrow-circle-o-down:before{content:"\f01a"}.fa-arrow-circle-o-up:before{content:"\f01b"}.fa-inbox:before{content:"\f01c"}.fa-play-circle-o:before{content:"\f01d"}.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}.fa-refresh:before{content:"\f021"}.fa-list-alt:before{content:"\f022"}.fa-lock:before{content:"\f023"}.fa-flag:before{content:"\f024"}.fa-headphones:before{content:"\f025"}.fa-volume-off:before{content:"\f026"}.fa-volume-down:before{content:"\f027"}.fa-volume-up:before{content:"\f028"}.fa-qrcode:before{content:"\f029"}.fa-barcode:before{content:"\f02a"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-print:before{content:"\f02f"}.fa-camera:before{content:"\f030"}.fa-font:before{content:"\f031"}.fa-bold:before{content:"\f032"}.fa-italic:before{content:"\f033"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-align-left:before{content:"\f036"}.fa-align-center:before{content:"\f037"}.fa-align-right:before{content:"\f038"}.fa-align-justify:before{content:"\f039"}.fa-list:before{content:"\f03a"}.fa-dedent:before,.fa-outdent:before{content:"\f03b"}.fa-indent:before{content:"\f03c"}.fa-video-camera:before{content:"\f03d"}.fa-picture-o:before{content:"\f03e"}.fa-pencil:before{content:"\f040"}.fa-map-marker:before{content:"\f041"}.fa-adjust:before{content:"\f042"}.fa-tint:before{content:"\f043"}.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}.fa-share-square-o:before{content:"\f045"}.fa-check-square-o:before{content:"\f046"}.fa-arrows:before{content:"\f047"}.fa-step-backward:before{content:"\f048"}.fa-fast-backward:before{content:"\f049"}.fa-backward:before{content:"\f04a"}.fa-play:before{content:"\f04b"}.fa-pause:before{content:"\f04c"}.fa-stop:before{content:"\f04d"}.fa-forward:before{content:"\f04e"}.fa-fast-forward:before{content:"\f050"}.fa-step-forward:before{content:"\f051"}.fa-eject:before{content:"\f052"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-plus-circle:before{content:"\f055"}.fa-minus-circle:before{content:"\f056"}.fa-times-circle:before{content:"\f057"}.fa-check-circle:before{content:"\f058"}.fa-question-circle:before{content:"\f059"}.fa-info-circle:before{content:"\f05a"}.fa-crosshairs:before{content:"\f05b"}.fa-times-circle-o:before{content:"\f05c"}.fa-check-circle-o:before{content:"\f05d"}.fa-ban:before{content:"\f05e"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrow-down:before{content:"\f063"}.fa-mail-forward:before,.fa-share:before{content:"\f064"}.fa-expand:before{content:"\f065"}.fa-compress:before{content:"\f066"}.fa-plus:before{content:"\f067"}.fa-minus:before{content:"\f068"}.fa-asterisk:before{content:"\f069"}.fa-exclamation-circle:before{content:"\f06a"}.fa-gift:before{content:"\f06b"}.fa-leaf:before{content:"\f06c"}.fa-fire:before{content:"\f06d"}.fa-eye:before{content:"\f06e"}.fa-eye-slash:before{content:"\f070"}.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}.fa-plane:before{content:"\f072"}.fa-calendar:before{content:"\f073"}.fa-random:before{content:"\f074"}.fa-comment:before{content:"\f075"}.fa-magnet:before{content:"\f076"}.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}.fa-retweet:before{content:"\f079"}.fa-shopping-cart:before{content:"\f07a"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-arrows-v:before{content:"\f07d"}.fa-arrows-h:before{content:"\f07e"}.fa-bar-chart-o:before{content:"\f080"}.fa-twitter-square:before{content:"\f081"}.fa-facebook-square:before{content:"\f082"}.fa-camera-retro:before{content:"\f083"}.fa-key:before{content:"\f084"}.fa-gears:before,.fa-cogs:before{content:"\f085"}.fa-comments:before{content:"\f086"}.fa-thumbs-o-up:before{content:"\f087"}.fa-thumbs-o-down:before{content:"\f088"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}.fa-sign-out:before{content:"\f08b"}.fa-linkedin-square:before{content:"\f08c"}.fa-thumb-tack:before{content:"\f08d"}.fa-external-link:before{content:"\f08e"}.fa-sign-in:before{content:"\f090"}.fa-trophy:before{content:"\f091"}.fa-github-square:before{content:"\f092"}.fa-upload:before{content:"\f093"}.fa-lemon-o:before{content:"\f094"}.fa-phone:before{content:"\f095"}.fa-square-o:before{content:"\f096"}.fa-bookmark-o:before{content:"\f097"}.fa-phone-square:before{content:"\f098"}.fa-twitter:before{content:"\f099"}.fa-facebook:before{content:"\f09a"}.fa-github:before{content:"\f09b"}.fa-unlock:before{content:"\f09c"}.fa-credit-card:before{content:"\f09d"}.fa-rss:before{content:"\f09e"}.fa-hdd-o:before{content:"\f0a0"}.fa-bullhorn:before{content:"\f0a1"}.fa-bell:before{content:"\f0f3"}.fa-certificate:before{content:"\f0a3"}.fa-hand-o-right:before{content:"\f0a4"}.fa-hand-o-left:before{content:"\f0a5"}.fa-hand-o-up:before{content:"\f0a6"}.fa-hand-o-down:before{content:"\f0a7"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-globe:before{content:"\f0ac"}.fa-wrench:before{content:"\f0ad"}.fa-tasks:before{content:"\f0ae"}.fa-filter:before{content:"\f0b0"}.fa-briefcase:before{content:"\f0b1"}.fa-arrows-alt:before{content:"\f0b2"}.fa-group:before,.fa-users:before{content:"\f0c0"}.fa-chain:before,.fa-link:before{content:"\f0c1"}.fa-cloud:before{content:"\f0c2"}.fa-flask:before{content:"\f0c3"}.fa-cut:before,.fa-scissors:before{content:"\f0c4"}.fa-copy:before,.fa-files-o:before{content:"\f0c5"}.fa-paperclip:before{content:"\f0c6"}.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}.fa-square:before{content:"\f0c8"}.fa-bars:before{content:"\f0c9"}.fa-list-ul:before{content:"\f0ca"}.fa-list-ol:before{content:"\f0cb"}.fa-strikethrough:before{content:"\f0cc"}.fa-underline:before{content:"\f0cd"}.fa-table:before{content:"\f0ce"}.fa-magic:before{content:"\f0d0"}.fa-truck:before{content:"\f0d1"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-square:before{content:"\f0d3"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-plus:before{content:"\f0d5"}.fa-money:before{content:"\f0d6"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-columns:before{content:"\f0db"}.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}.fa-sort-down:before,.fa-sort-asc:before{content:"\f0dd"}.fa-sort-up:before,.fa-sort-desc:before{content:"\f0de"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin:before{content:"\f0e1"}.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}.fa-legal:before,.fa-gavel:before{content:"\f0e3"}.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}.fa-comment-o:before{content:"\f0e5"}.fa-comments-o:before{content:"\f0e6"}.fa-flash:before,.fa-bolt:before{content:"\f0e7"}.fa-sitemap:before{content:"\f0e8"}.fa-umbrella:before{content:"\f0e9"}.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}.fa-lightbulb-o:before{content:"\f0eb"}.fa-exchange:before{content:"\f0ec"}.fa-cloud-download:before{content:"\f0ed"}.fa-cloud-upload:before{content:"\f0ee"}.fa-user-md:before{content:"\f0f0"}.fa-stethoscope:before{content:"\f0f1"}.fa-suitcase:before{content:"\f0f2"}.fa-bell-o:before{content:"\f0a2"}.fa-coffee:before{content:"\f0f4"}.fa-cutlery:before{content:"\f0f5"}.fa-file-text-o:before{content:"\f0f6"}.fa-building-o:before{content:"\f0f7"}.fa-hospital-o:before{content:"\f0f8"}.fa-ambulance:before{content:"\f0f9"}.fa-medkit:before{content:"\f0fa"}.fa-fighter-jet:before{content:"\f0fb"}.fa-beer:before{content:"\f0fc"}.fa-h-square:before{content:"\f0fd"}.fa-plus-square:before{content:"\f0fe"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106"}.fa-angle-down:before{content:"\f107"}.fa-desktop:before{content:"\f108"}.fa-laptop:before{content:"\f109"}.fa-tablet:before{content:"\f10a"}.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}.fa-circle-o:before{content:"\f10c"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-spinner:before{content:"\f110"}.fa-circle:before{content:"\f111"}.fa-mail-reply:before,.fa-reply:before{content:"\f112"}.fa-github-alt:before{content:"\f113"}.fa-folder-o:before{content:"\f114"}.fa-folder-open-o:before{content:"\f115"}.fa-smile-o:before{content:"\f118"}.fa-frown-o:before{content:"\f119"}.fa-meh-o:before{content:"\f11a"}.fa-gamepad:before{content:"\f11b"}.fa-keyboard-o:before{content:"\f11c"}.fa-flag-o:before{content:"\f11d"}.fa-flag-checkered:before{content:"\f11e"}.fa-terminal:before{content:"\f120"}.fa-code:before{content:"\f121"}.fa-reply-all:before{content:"\f122"}.fa-mail-reply-all:before{content:"\f122"}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}.fa-location-arrow:before{content:"\f124"}.fa-crop:before{content:"\f125"}.fa-code-fork:before{content:"\f126"}.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}.fa-question:before{content:"\f128"}.fa-info:before{content:"\f129"}.fa-exclamation:before{content:"\f12a"}.fa-superscript:before{content:"\f12b"}.fa-subscript:before{content:"\f12c"}.fa-eraser:before{content:"\f12d"}.fa-puzzle-piece:before{content:"\f12e"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-shield:before{content:"\f132"}.fa-calendar-o:before{content:"\f133"}.fa-fire-extinguisher:before{content:"\f134"}.fa-rocket:before{content:"\f135"}.fa-maxcdn:before{content:"\f136"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-html5:before{content:"\f13b"}.fa-css3:before{content:"\f13c"}.fa-anchor:before{content:"\f13d"}.fa-unlock-alt:before{content:"\f13e"}.fa-bullseye:before{content:"\f140"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-rss-square:before{content:"\f143"}.fa-play-circle:before{content:"\f144"}.fa-ticket:before{content:"\f145"}.fa-minus-square:before{content:"\f146"}.fa-minus-square-o:before{content:"\f147"}.fa-level-up:before{content:"\f148"}.fa-level-down:before{content:"\f149"}.fa-check-square:before{content:"\f14a"}.fa-pencil-square:before{content:"\f14b"}.fa-external-link-square:before{content:"\f14c"}.fa-share-square:before{content:"\f14d"}.fa-compass:before{content:"\f14e"}.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}.fa-euro:before,.fa-eur:before{content:"\f153"}.fa-gbp:before{content:"\f154"}.fa-dollar:before,.fa-usd:before{content:"\f155"}.fa-rupee:before,.fa-inr:before{content:"\f156"}.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}.fa-won:before,.fa-krw:before{content:"\f159"}.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}.fa-file:before{content:"\f15b"}.fa-file-text:before{content:"\f15c"}.fa-sort-alpha-asc:before{content:"\f15d"}.fa-sort-alpha-desc:before{content:"\f15e"}.fa-sort-amount-asc:before{content:"\f160"}.fa-sort-amount-desc:before{content:"\f161"}.fa-sort-numeric-asc:before{content:"\f162"}.fa-sort-numeric-desc:before{content:"\f163"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbs-down:before{content:"\f165"}.fa-youtube-square:before{content:"\f166"}.fa-youtube:before{content:"\f167"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-youtube-play:before{content:"\f16a"}.fa-dropbox:before{content:"\f16b"}.fa-stack-overflow:before{content:"\f16c"}.fa-instagram:before{content:"\f16d"}.fa-flickr:before{content:"\f16e"}.fa-adn:before{content:"\f170"}.fa-bitbucket:before{content:"\f171"}.fa-bitbucket-square:before{content:"\f172"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-long-arrow-down:before{content:"\f175"}.fa-long-arrow-up:before{content:"\f176"}.fa-long-arrow-left:before{content:"\f177"}.fa-long-arrow-right:before{content:"\f178"}.fa-apple:before{content:"\f179"}.fa-windows:before{content:"\f17a"}.fa-android:before{content:"\f17b"}.fa-linux:before{content:"\f17c"}.fa-dribbble:before{content:"\f17d"}.fa-skype:before{content:"\f17e"}.fa-foursquare:before{content:"\f180"}.fa-trello:before{content:"\f181"}.fa-female:before{content:"\f182"}.fa-male:before{content:"\f183"}.fa-gittip:before{content:"\f184"}.fa-sun-o:before{content:"\f185"}.fa-moon-o:before{content:"\f186"}.fa-archive:before{content:"\f187"}.fa-bug:before{content:"\f188"}.fa-vk:before{content:"\f189"}.fa-weibo:before{content:"\f18a"}.fa-renren:before{content:"\f18b"}.fa-pagelines:before{content:"\f18c"}.fa-stack-exchange:before{content:"\f18d"}.fa-arrow-circle-o-right:before{content:"\f18e"}.fa-arrow-circle-o-left:before{content:"\f190"}.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}.fa-dot-circle-o:before{content:"\f192"}.fa-wheelchair:before{content:"\f193"}.fa-vimeo-square:before{content:"\f194"}.fa-turkish-lira:before,.fa-try:before{content:"\f195"}.fa-plus-square-o:before{content:"\f196"}.Valiant360_default{position:relative}.Valiant360_default canvas{width:100%;height:100%;position: relative;margin: 0 auto;}.Valiant360_default .controlsWrapper{position:absolute;height:0;width:100%;bottom:0;overflow:hidden;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out}.Valiant360_default .controls{overflow:hidden;position:absolute;bottom:0;background-color:rgba(0,0,0,.75);height:40px;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;font-size:50%;padding:0 10px}.Valiant360_default .controls .button{width:40px;text-align:center;margin:0;padding:0;line-height:40px;opacity:.5;font-size:3em;color:#fff;text-decoration:none;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out}.Valiant360_default .controls .button:hover{opacity:1}.Valiant360_default .controls .fullscreenButton{float:right}.Valiant360_default .controls .timeLabel{color:#fff;font-size:2em;height:100%;line-height:40px;padding:0 10px}.Valiant360_default .controls .audioControl{display:inline-block}.Valiant360_default .controls .audioControl:hover{padding-right:10px}.Valiant360_default .controls .audioControl:hover .volumeControl{width:80px}.Valiant360_default .controls .audioControl:hover .volumeControl .volumeCursor{display:block}.Valiant360_default .controls .volumeControl:hover{opacity:1;width:80px}.Valiant360_default .controls .volumeControl{width:0;height:26px;position:relative;top:5px;opacity:.5;display:inline-block;cursor:pointer;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out}.Valiant360_default .controls .volumeControl .volumeBar{position:absolute;top:11px}.Valiant360_default .controls .volumeControl .volumeBar .volumeProgress{height:4px;width:100%;position:absolute;background-color:#fff}.Valiant360_default .controls .volumeControl .volumeBar .volumeCursor{height:12px;width:12px;display:none;border-radius:50%;background-color:#fff;position:absolute;right:-6px;top:-4px}.Valiant360_default .controls .volumeControl:before{content:'';background-color:#444;height:4px;width:100%;position:absolute;top:11px}.Valiant360_default .loading{position:absolute;z-index:10;height:100%;width:100%;display:none;overflow:hidden}.Valiant360_default .loading .icon{margin:25% auto;width:32px;height:32px;font-size:32px;color:#fff}.Valiant360_default .loading .waiting-icon{text-indent:-9999em;border-radius:50%;background:-moz-linear-gradient(left,#fff 10%,rgba(255,255,255,0) 42%);background:-webkit-linear-gradient(left,#fff 10%,rgba(255,255,255,0) 42%);background:-o-linear-gradient(left,#fff 10%,rgba(255,255,255,0) 42%);background:-ms-linear-gradient(left,#fff 10%,rgba(255,255,255,0) 42%);background:linear-gradient(to right,#fff 10%,rgba(255,255,255,0) 42%);position:relative;-webkit-animation:load3 1.4s infinite linear;animation:valiant360_default_waiting_load 1.4s infinite linear;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}.Valiant360_default .timeTooltip{display:none;position:absolute;bottom:50px;height:25px;line-height:25px;padding:5px;border-radius:4px;background-color:rgba(0,0,0,.75);color:#fff}.Valiant360_default:hover .controlsWrapper{height:48px}.Valiant360_default.fullscreen{width:100%!important;height:100%!important}.Valiant360_default .valiant-progress-bar{width:100%;height:8px;overflow:hidden}.Valiant360_default .valiant-progress-bar:hover{cursor:pointer}.Valiant360_default .valiant-progress-bar>div{height:100%;float:left;background-color:#444}.Valiant360_default .valiant-progress-bar>div:first-child{background-color:red}.Valiant360_default .loading .waiting-icon:before{width:50%;height:50%;background:#fff;border-radius:100% 0 0;position:absolute;top:0;left:0;content:''}.Valiant360_default .loading .waiting-icon:after{background:#000;width:75%;height:75%;border-radius:50%;content:'';margin:auto;position:absolute;top:0;left:0;bottom:0;right:0}@-webkit-keyframes valiant360_default_waiting_load{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes valiant360_default_waiting_load{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}


